{% extends 'base.html' %}
{% block content %}
<h2>Publicaciones</h2>
<a href="/crear/" ><i class="fa fa-plus"></i></a>
<table class="table table-striped">
    <thead class="thead-dark">
    <tr>
        <th>Titulo</th>
        <th>Descripcion</th>
        <th>Archivo</th>

        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
        {% for data in dataset %}
        <tr>
            <td>{{ data.titulo }}</td>
            <td>{{ data.descripcion }}</td>
            <td>{{ data.archivo }}</td>
            <td>{{ data.get_disponible_display }}</td>
            
            <td>
                <a href="/update/{{ data.id }}"><i class="fa fa-edit"></i></a>
                <!-- <a href="/delete/{{ data.id }}"><i class="fa fa-trash"></i></a> -->
                <a href="#" data-toggle="modal" data-target="#deleteModal{{ data.id }}"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% for data in dataset %}
<!-- Modal -->
<div class="modal fade" id="deleteModal{{ data.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <form action="/delete/{{ data.id }}" method="post">
            {% csrf_token %}
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Eliminar registro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Desea eliminar el registro con ID: {{ data.id }}?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary">Eliminar</button>
            </div>
        </form>
    </div>
</div>
</div>
{% endfor %}

{% endblock %}